doctype html
html
  head
    block head
      block title
        title= title ? title + " | " + site.title : site.title
      block styles
  body
    block body
      #layout-main
        block main
    //script(src="http://localhost:35729/livereload.js")